# Base example. For local development use:
# npm run dev:local-backend
# npm run dev:railway-backend

# --- Ambiente local ---
VITE_API_BASE_URL=http://127.0.0.1:5015/api
VITE_GOOGLE_MAPS_API_KEY=TU_CLAVE_DE_GOOGLE_MAPS
VITE_GOOGLE_MAPS_MAP_ID=TU_MAP_ID_DE_GOOGLE_MAPS
